
<MudNavMenu Class="pt-3">
    <MudNavLink Href="/" Match="NavLinkMatch.All">
        <span class="oi oi-dashboard" aria-hidden="true"></span>Dashboard
    </MudNavLink>
    <MudNavLink Href="patient/list" Match="NavLinkMatch.Prefix">
        <span class="oi oi-people" aria-hidden="true"></span> Pacientes
    </MudNavLink>
    <MudNavLink Href="shift/list" Match="NavLinkMatch.Prefix">
        <span class="oi oi-calendar" aria-hidden="true"></span>Turnos
    </MudNavLink>
    <MudNavLink Href="doctor/list" Match="NavLinkMatch.Prefix">
        <span class="oi oi-medical-cross" aria-hidden="true"></span>Doctores
    </MudNavLink>

</MudNavMenu>




@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
