@inject NavigationManager NavigationManager

<div class="alert alert-secondary mt-4 text-white" role="alert" style="background-color: cornflowerblue; cursor: pointer" @onclick="NavigateToShift">
    <div class="row">
        <div class="col-md-2">
            <span class="text-nowrap ml-2 ">
                <span class="oi oi-person mr-2" aria-hidden="true"></span>
                <strong>Paciente: </strong> @Shift.PatientFullName
            </span>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <span class="text-nowrap ml-6">
                <span class="oi oi-medical-cross mr-2" aria-hidden="true"></span>
                <strong>  Doctor: </strong> @Shift.DoctorFullName
            </span>
        </div>

    </div>    
</div>

@code {

    [Parameter]
    public Shift Shift { get; set; }    

    private void NavigateToShift()
    {
        NavigationManager.NavigateTo($"/shift/edit/{Shift.Id}");
    }
}