@page "/shift/delete/{id:int}"

@attribute [Authorize]
@inject IShiftService ShiftService
@inject NavigationManager NavigationManager

<h3>Doctor</h3>

@Message

@if (shift == null)
{
    <p>Cargando ....</p>
}
else
{

    @*<EditForm Model="shift" OnValidSubmit="Delete">
            <div class="card">
                <h5 class="card-header"> Datos del turno </h5>
                <div class="card-body">
                    <div class="container">

                        <div class="row">

                            <div class="col-md-6 mb-3">
                                <label for="">Nombre</label>
                                <InputText class="form-control" readonly @bind-Value="@shift.PatientId.ToString()"></InputText>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="">Apellidos</label>
                                <InputText class="form-control" readonly @bind-Value="@shift.DoctorId.ToString()"></InputText>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="">DNI/NIE/TIE</label>
                                <InputDate class="form-control" readonly @bind-Value="@shift.ShiftDate"></InputDate>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 mb-3">
                            </div>
                            <div class="col-md-4 mb-3">
                                <input type="submit" class="btn btn-danger" value="Eliminar" />
                                <input type="button" class="btn btn-secondary" value="Cancelar" @onclick="NavigateHome" />
                            </div>
                            <div class="col-md-4 mb-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>*@

}

@code {
    public Shift shift;
    public string Message;

    [Parameter]
    public int id { get; set; }

    protected async override Task OnInitializedAsync()
    {
        shift = await ShiftService.GetDetails(id);
    }

    protected async Task Delete()
    {
        await ShiftService.DeleteShift(id);
        NavigateHome();
    }

    private void NavigateHome()
    {
        NavigationManager.NavigateTo("/shift/list");
    }

}
